<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Update Todo</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="updateForm" class="edit-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Name" formControlName="name" #name>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <textarea matInput placeholder="Description" formControlName="description" #description></textarea>
      </mat-form-field> 
      <mat-form-field>
        <mat-select placeholder="Status" formControlName="status" #status>
          <mat-option value="Open">Open</mat-option>
          <mat-option value="In Progress">In Progress</mat-option>
          <mat-option value="Completed">Completed</mat-option>
        </mat-select>
      </mat-form-field> 
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
      <button type="submit" (click)="updateTodoElement(name.value,description.value,status.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Save</button>
    </form>
  </mat-card>
</div>